{% extends 'base.html'%}
{% block title %}
a  
{%endblock%}

    {% block body %}
    <div class="container">
        <h1 style="margin:100px">Question asked to you</h1>

                {% for p in question%}
                
                <h3> {{p.question|safe}}</h3>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
 <a href="/answerquestion/{{p.id}}">Answer the question</a>
<hr style="width:100%;text-align:left;margin-left:0; background-color: #b7d0e2;; color:red;padding:5px;">
<br><br><br>

   
   
  

{%endfor%}
 
</div>
   {%endblock%}