{% extends 'base.html'%}
{% block title %}
   Post
{%endblock%}
{% block body %}
<script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<link rel="stylesheet" href="../static/css/box.css">

<div class="container" style="margin-left: 400px;margin-bottom:40px; padding-bottom:100px;">

     <!-- Flash message -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
      </ul>
  {% endif %}
{% endwith %}

      <form action="\post" method="post" >
            
            <label for="chapter"><h1>Title</h1></label>
            <br>
            <input type="text" name="chapter" placeholder="Title" autocomplete="off"><br><br><br>

            <label for="section"><h1>Section title</h1></label>
            <br>  
            <input autocomplete="off" type="text" name="section" placeholder="section title"><br><br><br>

            <label for="subject" ><h1>Subject</h1></label>
            <br>
            <br><br><br>

            <div class="box"> 
               <select name="subject">
                 {% for course  in courses%}
                 <option value="{{course.coursename}}"  >{{course.coursename}}</option>
                  
                 {%endfor%}
                 </select>
            </div>
            


          
            <label for="articles"><h1>Articles</h1></label>
            <br>
            <textarea  cols="80" id="editor1" name="articles" rows="10"></textarea>
            <br><br>

            <input type="hidden" name="username" value="{{current_user.email}}">


            
              <br>
          
        <button type="submit" class="btn btn-two">Submit Blog</button><p><br/></p>
               <br>
          
            
               

      </form>
 </div>

   {%endblock%}